@model Ejercicio01.Models.DAL.clsPersona


@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["Mensaje"], usuario</p>
    <p>hoy es @ViewBag.fecha</p>
    <br/>
    <p>Datos del modelo:</p>
    
    
    <br />

    @Html.ActionLink("Listado de personas", "listadoPersonas");
    
</div>
