

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 800px; /* Ajusta el valor según sea necesario */
  margin-top: 20px;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

/* Estilos para los botones */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#btnNew {
  background-color: #4CAF50;
  color: white;
}

#btnDelete {
  display: none;
  background-color: #f44336;
  color: white;
}

#btnSave {
  background-color: #008CBA;
  color: white;
}




