

body {
  
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

/*Estilos tabla*/
.container {
  align-items: center;
}

table {
 
  align-items: center;
  width: 90%;
  margin-left: 30px;
}

thead{
  background-color: #4CAF50;
  color: white;
  height: 50px;
}

th, td, tr{
  text-align: center;
}


/*Estilos modal*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  min-width: 40%;
  max-width: 70px;
 max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

label{ 
  font-weight: bold;
  width: 120px;
  margin: 0;
}

select, input {
  font-size: 16px;
  width: 200px;

}

#buttons{
display: flex;
align-items: end;
flex-direction: column;
}

/* Estilos para los botones */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#btnNew {
  float: center;
  background-color: #4CAF50;
  color: white;
}


#btnDelete {
  display: none;
  background-color: #f44336;
  color: white;  
}

#btnSave {
  background-color: #008CBA;
  color: white;
}


#sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: grey;
  padding-top: 20px;
  padding-left: 50px;
  font-size: 20px;

}







