@{
    ViewData["Title"] = "Home Page";
}

@model Ejercicio03.Models.Entities.clsPersona

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Para editar una persona, clicar en el siguiente enlace:</p>

    @Html.ActionLink("Editar persona","EditarPersona","EditarPersona")
</div>
