@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@* Indicamos el modelo de la vista *@
@model Ejercicio03.Models.ViewModel.clsPersonaDepartamento

@*Creamos una variable que almacene una lista de personas*@
@{
    var modelo = Model.ListaPersonas[10];
}

@*Enlaces para volver atrás*@
@Html.ActionLink("Página Principal", "Index", "Home")

<div class="text-center">
    <form>

        <label for="Nombre">Nombre:</label>

        @*Esto debería funcionar*@
        @Html.TextBoxFor(modelo=>modelo.Nombre)

        <label for="Apellidos">Apellidos:</label>

        @*Esto debería funcionar*@
        @Html.TextBoxFor(modelo=>modelo.Apellidos)


        <label for="departamentos">Selecciona el departamento: </label>
        <select id="departamentos" name="departamentos">
            @{
                foreach (var departamento in Model.ListaDepartamentos)
                {
                    <option value="selected"> @departamento.NombreDepartamento</option>
                }
            }
        </select>

        <input type="submit" value="Guardar" />
    </form>
</div>



