@model Ejercicio03.Models.ViewModels.clsDetallesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Datos:</h1>

<p>Nombre: @Model.Nombre</p>
<br/>
<p>Apellidos: @Model.Apellidos</p>
<br />
<p>Dirección: @Model.Direccion</p>
<br />
<p>Nombre: @Model.</p>
<br />
